
.body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #efeff4;
  font-family: 'Mochiy Pop P One', sans-serif;
  text-decoration: none;
}



.navbar {
  background-color: #efeff4;
  color: #957bda;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}
.navlogo{
  color: #957bda;
}

.nav-link {
  margin-right: 15px;
  color: #957bda;
}
.NavLink {
  text-decoration: none;
}
.navbar-nav :last-child {
  /* color: #646771; */
  
  /* background-color: #957bda; */


  
}




.container{
  /* padding: 10px; */
  /* background-color: #efeff4; */
}
.header{
 /* padding-top:30px; */
}
h1{
  padding: 8px 0px 28px 0px;
  /* padding: 0px 0px 20px 0px; */
  /* font-size: 35px; */
  line-height: 1.25;
  font-weight: 700;
  color: #957bda;
  margin: 0;
  font-weight: 500;
  font-size: 2.25rem;
  
}
.hero-seaction{
  padding-right: 10px;
}
.bannerimg{

  border-radius: 10px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* advert seaction-------------------------------------------------------------------------------------------------------- */
.advertimg{
  object-fit: cover;
object-position: center;
width: 100%;
max-width: 100%;
height:100%;
border-radius: 8px;
}
.advertseaction{
  display: flex;
  align-items: center;
  /* justify-content:space-evenly; */
  background-color: #fff;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(10,9,9,.1) !important; */
  padding: 10px;
  height: 170px;
  width: 500px;
}
.advertrow {
 
}
.advert-center {
	display: flex;
	justify-content: space-around;
	padding: 20px;
}

.advert-box {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	text-align: center;
}

.advert-box img {
	max-width:100%;
	max-height: 100%;
	object-fit: contain;
	width: auto;
	height: auto;
}

@media screen and (max-width: 800px) {
	.advert-center {
		flex-direction: column;
	}

}

/* treanding seaction---------------------------------------------- */

.trdrow{
  display: grid; 
  grid-template-columns: repeat(auto-fill,minmax(260px,1fr)); 
   grid-gap: 2vw;
    align-items: center;
    /* grid-gap: 2vw; gap: 2vw; */
}
.trdcol{

  /* display: flex;
  align-items: center;
  padding: 80px; */
  padding: 10px;
 

}
.trdimgcover{
  max-width: 250px;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
  height: 280px;
  border-radius: 8px;
}

.trdimg{
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  height:100%;
  transition: transform .2s;
}
.trdimg:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.trdcontent{
  margin-top: 16px;
  line-height: 10px;
  font-weight: 400;
  font-size:1rem;
  color: #957bda;
}
.trdcontent h5{
    color: rebeccapurple;
    padding: 0.20em;
 
}
.trdcontentp{
  /* line-height: 20px; */
  color: #957bda;
  line-height: 1.5;
}
.trdprice{
  display: flex;
  align-items: center;
  
  /* justify-content: space-evenly; */
  
}
.trdprice p{
 margin-top: 6px;
}
.moneyimg{
  width: 30px;
  height: 30px;
  margin-right: 40px;
  margin-bottom: 3px;
}


/* Package category seaction---------------------------------------------- */


.packagebigrow {
  display: grid; 
  grid-template-columns: repeat(auto-fill,minmax(400px,2fr)); 
   grid-gap: 10vw;
    align-items: center;
 
}
.packagebannerbigimg{
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  height:100%;
  border-radius: 8px;
  opacity: 0.6;
  transition: transform .2s;
}
.packagebannerbigimg:hover {
  transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.packagehero-seaction{
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  height: 280px;
  width: 500px;
}
.packagebigimgtxt h1{
 
  color:black;
  font-weight: 600;
}
.packagebigimgtxt{
  position: relative;
  bottom: 180px;
  color: black;
  font-weight: 600;
  padding: 20px;
}
.hero-seaction{
  padding-right: 10px;
}
.packagebannerimg{
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  
}

.Packagecardimgcover{
  max-width: 128px;
  width: 50%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  height: 160px;
}
.packagerow{
  display: grid; 
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr)); 
   grid-gap: 8vw;
    align-items: center;
    /* padding: 15px; */
    padding: 15px;

}
.Packageimg{
  object-fit: cover;
object-position: center;
width: 100%;
max-width: 100%;
height:100%;
}
.Packagesection{
  display: flex;
  align-items: center;
  /* justify-content:space-evenly; */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(10,9,9,.1) !important;
  padding: 10px;
  height: 170px;
  width: 500px;
}
.Packagecontent{
  margin-left:70px ;

}


/* !!!!!!!!!!!!!!!!!!!!!!! here is details page style starting ------------------------------------*/


.detailbannerbigimg{
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  height:100%;
  border-radius: 8px;
  transition: transform .2s;
}
.detailbannerbigimg:hover {
  transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.detailhero-seaction{
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
  height: 480px;
  width: 600px;
}
.detailsmallflex{
  display: flex;
}
.detailsmall-seaction{
  background-color: #fff;
  /* border-radius: 8px; */
  padding: 10px;
  height: 120px;
  width: 160px;
}

.detailbannersmallimg{
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  height:100%;
  border-radius: 8px;
  transition: transform .2s;
}

.buttoncover{
  /* text-align: center; */
  margin-left: 20%;
  padding: 20px;
}
.detailbutton{
  background-color: rebeccapurple;
  padding:12px;
  padding-left: 60px;
  padding-right: 60px;
  color: #fff;
  border-radius: 8px;
}

.detailbutton:hover{
  background-color: red;
}




/* !!!!!!!!!!!!!from here our product page design css start------------------------ */
.productpackagerow{
  display: grid; 
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr)); 
   grid-gap: 3vw;
    align-items: center;
    padding: 4px;

  
}
.productimg{
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 100%;
  height:100%;
  border-radius: 8px;
  transition: transform .2s;
}
.productimg:hover {
  transform: scale(0.9); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.productimg-seaction{
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 0px 10px 0px;
  height: 450px;
  width: 400px;
}
.priceRange{
  display: flex;
  justify-content: space-around;
}
.pricebold{
  font-weight: 700;
}




/* 
!!!!!!!!!!!footer seaction---------------------------------------------- */

footer {
  background-color: #efeff4;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  bottom: 0;
  color: #957bda;
}

.footer-navigation h3 {
  margin: 0;
  font: normal 36px Cookie, cursive;
  margin-bottom: 20px;
  color: #957bda;
}

.footer-navigation h3 a {
  text-decoration: none;
  color: #957bda;
}

.footer-navigation h3 span {
  color: #957bda;
}

.footer-navigation p.links a {
  color: #957bda;
  text-decoration: none
}

.footer-navigation p.company-name {
  color: #957bda;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px
}

/* @media (max-width:767px) {
  .footer-contacts {
      margin: 30px 0
  }
} */

.footer-contacts p {
  display: inline-block;
  color: #957bda;
  vertical-align: middle
}

.footer-contacts p a {
  color: #5383d3;
  text-decoration: none
}

.fa.footer-contacts-icon {
  background-color: #33383b;
  color: #fff;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0
}

span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2
}

.footer-about h4 {
  display: block;
  color: #957bda;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px
}

.footer-about p {
  line-height: 20px;
  color: #957bda;
  font-size: 13px;
  font-weight: normal;
  margin: 0
}

div.social-links {
  margin-top: 20px;
  color: #fff
}

.social-links i {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px
}

/* .footer {
  bottom: 0;
  position: absolute
} */

